 <div class="user-details">
  <h1> Что мы используем в разработке </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Дизайн</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Мы стараемся успевать за современными технологиями и используем только все самые последние версии инструментов:HTML5, Bootstrap, SASS</p>
    </div>
    <div class="tech">
      <h2>Код</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Для программирования мы используем последние версии: JavaScript, React, Node.js.</p>
    </div>
    <div class="tech">
      <h2>Инструменты</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Наша команда опытных программистов использует все самые крутые и продвинутые инструменты разработки: Cистема версии Git, Gulp, ATOM</p>
    </div>
</div>
