<div class="user-details">
  <h1> Наши разработки </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Itaxi.uz </h3>
    <ul>
      <li> Сайт и приложения</li>
    </ul>
    <p>Сервис перевозок в  Самарканде. Нашими специалистами был создан сайт, сделана seo оптимизация, создано приложние под операционную систему Android, а так же под операционную систему Ios. </p>
    <a class="project-link" href="http://itaxi.uz/">Посмотреть</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Yulda.uz </h3>
    <ul>
      <li> Сайт и приложение</li>
    </ul>
    <p>Yulda - это сервис для быстрого поиска попутчиков на разные поездки. Нами был создан с нуля сайт, сделана seo оптимизация, создано приложение под операционную систему Android и IOS. </p>
    <a class="project-link" href="http://yulda.uz/">Посмотреть</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="myap" src="{{ "http://localhost:4000/assets/img/myap.jpg"| prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>MyApteka.Uz  </h3>
    <ul>
      <li>Приложение и бот в Telegram</li>
    </ul>
    <p>MyApteka - наиболее полный каталог-справочник адресов аптек Ташкента и регионов, на сайте работает удобный поиск, который поможет найти нужную вам аптеку.Аптеки Ташкента и Узбекистана на одном портале. </p>
    <a class="project-link" href="http://myapteka.uz/">Посмотреть</a>
  </div>
</div>
